*,
*::before,
*::after {
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	outline: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: auto;
	height: 2rem;
}

::-webkit-scrollbar-track {
	background-color: darkgray;
}

::-webkit-scrollbar-thumb {
	background-color: gray;
}

.dropdown {
	position: relative;
}

.dropdown ul {
	position: absolute;
	background-color: #070707;
	width: 100%;
	height: auto;
	left: 0;
}

.dropdown ul li:hover {
	background-color: #272727;
}
